# Abaikan file system Windows
desktop.ini
Thumbs.db

# Abaikan semua file gambar screenshot
*.png

# Kalau kamu hanya ingin abaikan screenshot tertentu, pakai nama spesifik:
# Screenshot 2025-03-12 005753.png
# Screenshot 2025-03-12 005925.png

# Abaikan folder sementara
*.log
.DS_Store
node_modules/
